<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

<div class="page-header">
  <h1>List of projects</h1>
  <div class="btn-group" role="group">
    <a href="/project/create" class="btn btn-default">Create</a>
  </div>
</div>

<div class="row">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Hipchat Channel</th>
      <th>Mail Address</th>
      <th>Webhook URL</th>
      <th>LINE Notify Access Token</th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td><a href="<%= to("/project/#{ project.id }") %>"><%= project.name %></a></td>
        <td><%= project.hipchat_channel %></td>
        <td><%= project.mail_address %></td>
        <td><%= project.webhook_url %></td>
        <td><% if project.line_notify_access_token %>***<% end %></td>
      </tr>
    <% end %>
  </table>
</div>

