<% if @rule.id %>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="<%= to("/service/#{@service.id}") %>"><%= @service.name %></a></li>
  <li class="active">Update rule</li>
</ol>

<div class="page-header">
  <h1>Update rule for <%= @service.name %></h1>
</div>
<% else %>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="<%= to("/service/#{@service.id}") %>"><%= @service.name %></a></li>
  <li class="active">Register new rule</li>
</ol>

<div class="page-header">
  <h1>Register new rule for <%= @service.name %></h1>
</div>
<% end %>

<div class="row">
<% if @rule.id %>
   <form method="post" action="<%= to("/service/#{@service.id}/rule/#{@rule.id}/update") %>">
<% else %>
  <form method="post" action="<%= to("/service/#{@service.id}/rule/register") %>">
<% end %>
    <div class="form-group">
      <label for="inputAlert">ALERT</label>
      <input type="text" name="alert" class="form-control" id="inputAlert" value="<%= @rule.alert_clause %>" required>
      <p class="help-block">Alert name.</p>
    </div>
    <div class="form-group">
      <label for="inputIf">IF</label>
      <textarea type="text" name="if" class="form-control" id="inputIf" required><%= @rule.if_clause %></textarea>
      <p class="help-block">Prometheus query to alert on</p>
      <p class="help-block">
        Examples
        <ul>
          <li><code>node_load1{service="<%= @service.name %>"} > 5</code></li>
          <li><code>api_http_request_latencies_second{quantile="0.5"} > 1</code></li>
        </ul>
      </p>
    </div>
    <div class="form-group">
      <label for="inputFor">FOR</label>
      <select name="for" class="form-control">
        <option value="1s" <% if @rule.for_clause == "1s" %> selected <% end %>>1 second</option>
        <option value="1m" <% if @rule.for_clause == "1m" %> selected <% end %>>1 minute</option>
        <option value="5m" <% if @rule.for_clause == "5m" %> selected <% end %>>5 minutes</option>
      </select>
      <p class="help-block">Prometheus to wait for a certain duration between first encountering a new expression output vector element (like an instance with a high HTTP error rate) and counting an alert as firing for this element. Elements that are active, but not firing yet, are in pending state.</p>
    </div>
    <div class="form-group">
      <label for="inputLabels">LABELS</label>
      <textarea type="text" name="labels" class="form-control" id="inputLabels"><%= @rule.labels_clause %></textarea>
      <p class="help-block">A set of additional labels to be attached to the alert. Any existing conflicting labels will be overwritten. The label values can be templated.</p>
      <p class="help-block">
        Examples
        <ul>
          <li><code>{severity="major"}</code></li>
        </ul>
      </p>
    </div>
    <div class="form-group">
      <label for="inputAnnotations">ANNOTATIONS</label>
      <textarea type="text" name="annotations" class="form-control" id="inputAnnotations"><%= @rule.annotations_clause %></textarea>
      <p class="help-block">Another set of labels that are not identifying for an alert instance. They are used to store longer additional information such as alert descriptions or runbook links. The annotation values can be templated.</p>
      <p class="help-block">
        Examples
        <ul>
          <li><code>{summary="High load on {{ $labels.instance }}", description="..."}</code></li>
        </ul>
      </p>
    </div>

    <button type="submit" class="btn btn-default">Register</button>
  </form>

  <hr>
  See <a href="https://prometheus.io/docs/alerting/rules/">Alerting rules</a> for more details.
</div>
